
<ion-content class="content has-header padding">

<div class="bar bar-header item-input-inset">
  <a href="#/report" class="button button-icon icon ion-navicon" ng-click="viewReport()"></a>
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="search.keyword" ng-change="loadCustomers()">
  </label>
</div>
<div class="content has-header">
  <center ng-if="search.onloading"><ion-spinner class="spinner-calm"></ion-spinner></center>
  <div class="card" ng-if="customers.length<1">
  <div class="item item-text-wrap">
    <i>Search a Customer!</i>
    <span></span>
  </div>
</div>
  <div class="list">
    <div class="customer card" ng-repeat="customer in customers">
      <div class="item item-text-wrap" ng-click="selectcustomer(customer)">
         <div class="col">{{customer.CusName}}</div>
         <div class="col">{{customer.Add3}}</div>
      </div>
    </div>

  </div>
  <div class="padding">
  </div>
</div>

</ion-content>
