
<ion-pane>
  <ion-header-bar class="bar-stable item-input-inset">
    <a class="button icon-left ion-ios-arrow-back button-clear button-dark" ng-click="goBack()"></a>
      <h6 class="title" ng-if="!search.show">{{customer.CusName}}</h6>
      <label class="item-input-wrapper" ng-if="search.show">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search.keyword" ng-change="searchItems()">
      </label>
    <a ng-if="!search.show" class="button icon-right ion-ios-search button-clear button-dark" ng-click="showSearch(true)"></a>
    <a ng-if="search.show" class="button icon-right ion-ios-close-empty button-clear button-dark" ng-click="showSearch(false)"></a>

	</ion-header-bar>
  <div class="bar bar-subheader">
        <div class="row">
          <div class="col">Total Items <b class="positive">{{cart.length}}</b></div>
          <div class="col">Total Price <i class="balanced">{{ totalPrice | currency:"Rs: "}}<i></div>
        </div>
</div>
<ion-content class="has-header has-subheader has-footer" on-scroll="getScrolPosition()" id="itemWindwo89">



    <div class="list list-inset">
      <div class="card" ng-if="customers.length<1">
        <div class="item item-text-wrap">
          Search Items!
        </div>
      </div>
      <ul class="list">
        <li class="item" ng-repeat="item in items" ng-click="selectItem(item)">
          <b ng-class="{'balanced':item.Bonus!=''}" >{{item.name}}</b>
        </li>
      </ul>

    </div>
    <center ng-if="search.onloading"><ion-spinner class="spinner-calm"></ion-spinner></center>
  </ion-content>
  <ion-footer-bar class="bar-light" ng-if="cart.length>0">
    <div class="buttons  balanced">
      <button class="button button-positive"  ng-click="toCart()">To Order</button>
    </div>
    <h4 class="title"><i class="balanced">Items:</i><ion-badge color="secondary">{{cart.length}}</ion-badge></h4>
    <div class="buttons assertive">
      <button class="button button-assertive" ng-click="clearCart()">Clear Cart</button>
    </div>
  </ion-footer-bar>



</ion-pane>
