<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">
      <b class="notification-ion assertive" ng-if="cart.length>0">Order Place Success full</b>
      <i class="ion-close ion-float-right ion-icon-medium" ng-click="cancelEdit()"></i>
    </h1>
  </ion-header-bar>
  <ion-content>
      <div class="list list-inset">

        <div class="row">
          <div class="col">
            <div class="padding">
                <button class="button button-block button-positive" ng-click="gotomain()">
                  Go Back
                </button>
          </div> 
          </div>

        </div>
      </div>



  </ion-content>
</ion-modal-view>
